on init
    chown system system /sys/kernel/es9218_dac/avc_volume
    chmod 0660 /sys/kernel/es9218_dac/avc_volume
    chown system system /sys/kernel/es9218_dac/headset_type
    chmod 0660 /sys/kernel/es9218_dac/headset_type
    chown system system /sys/kernel/es9218_dac/left_volume
    chmod 0660 /sys/kernel/es9218_dac/left_volume
    chown system system /sys/kernel/es9218_dac/right_volume
    chmod 0660 /sys/kernel/es9218_dac/right_volume
    chown system system /sys/kernel/es9218_dac/ess_filter
    chmod 0660 /sys/kernel/es9218_dac/ess_filter
    chown system system /sys/kernel/es9218_dac/ess_custom_filter
    chmod 0660 /sys/kernel/es9218_dac/ess_custom_filter

on property:sys.boot_completed=1
    start vendor.lge-dac-control-2-0

service vendor.lge-dac-control-2-0 /vendor/bin/hw/vendor.lge.hardware.audio.dac.control@2.0-service
    class hal
    user system
    group system
    disabled
