on boot
    chown system system /sys/devices/virtual/input/lge_touch/swipe_available
    chmod 0664 /sys/devices/virtual/input/lge_touch/swipe_available
    chown system system /sys/devices/virtual/input/lge_touch/film_status
    chmod 0664 /sys/devices/virtual/input/lge_touch/film_status

service vendor.touch-hal /vendor/bin/hw/vendor.lineage.touch-service.lge
    class hal
    user system
    group system
